/* Geral */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background: #fff;
}

/* Cabeçalho */

.cabecalho_logo {
    width: 100%;
}

.cabecalho_container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.typography_contact {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: #000000;
}

.typography_numbers {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.8px;
    color: #000000;
}

/* Hero/Header */

.hero {
    background-image: url(../img/background-integral-hero.png);
    background-size: cover;
    background-blend-mode: soft-light;
    padding: 200px 100px 100px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .leftSideHero {
    max-width: 700px;
    margin: 25px;
}

.hero .leftSideHero h2 {
    font-size: 3.5em;
    color: #fff;
}

.hero .leftSideHero p {
    font-size: 1.8em;
    color: #fff;
    margin: 25px 0;
}

.hero .leftSideHero a {
    display: inline-block;
    background: #fff;
    color: #f7d716;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 12px;
}

.typographyHero {
    font-weight: 600;
    width: 100%;
    font-size: 85px;
    letter-spacing: 2px;
    color: #f7d716;
}

.hero .svg_solar_system {
    max-width: 600px;
    margin-right: 25px;
}

@media (max-width: 1250px) {
    .hero {
        padding: 150px 20px 50px;
        flex-direction: column;
    }
    .hero .svg_solar_system {
        display: none;
    }

    .hero .leftSideHero h2 {
        justify-content: center;
        margin: 20px auto;
        text-align: center;
    }

    .hero .leftSideHero p {
        justify-content: center;
        margin: 20px auto;
        text-align: center;
    }

    .HeroButton {
        display: grid;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    .hero .leftSideHero {
        transform: translateY(82px);
        justify-content: center;
        margin: 0 auto;
    }

    .hero .leftSideHero a {
        display: grid;
        transform: translateY(25px);
        width: 50%;
        margin: 12px auto;
    }
}

@media (max-width: 800px) {
    header {
        padding: 10px 20px;
        flex-direction: column;
    }
}

.HeroButton {
    width: 35%;
    height: 50px;
    padding: 12px;
    font-weight: 600;
    font-size: 22px;
    border-radius: 12px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Section 2 */

.section2 {
    display: grid;
    margin-top: 5vh;
    grid-template-areas:
        "title"
        "cards";
}

.presentation {
    display: grid;
    grid-area: title;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 0 auto;
}

.titleSection2 {
    display: grid;
    font-weight: 300;
    width: 100%;
    font-size: 62px;
    letter-spacing: 2px;
    padding: 10px 0 0 30px;
    text-align: justify;
    text-justify: inter-word;
    color: #000;
    margin-right: 30px;
}

.textSection2 {
    display: grid;
    align-self: center;
    font-weight: 300;
    width: 100%;
    font-size: 36px;
    letter-spacing: 2px;
}

.container2 {
    display: grid;
    grid-area: cards;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    justify-content: center;
    margin-top: 5vh;
}

.container2 .card {
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    border-radius: 20px;
    display: grid;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.container2 .card .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}

.container2 .card .circle h2 {
    color: #fff;
    font-size: 4.5em;
    padding: 30px 0;
}

.container2 .card .content {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;
}

.container2 .card .content p {
    color: #666;
}

.container2 .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 45px;
    text-align: center;
}

.container2 .card:nth-child(1) .circle,
.container2 .card:nth-child(1) .content a {
    background: #f7d716;
}

.container2 .card:nth-child(2) .circle,
.container2 .card:nth-child(2) .content a {
    background: #2980b9;
}

.container2 .card:nth-child(3) .circle,
.container2 .card:nth-child(3) .content a {
    background: #e67e22;
}

.container2:hover .card {
    filter: blur(4px);
    transform: scale(0.9);
    opacity: 0.5;
}

.container2 .card:hover {
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}

@media (max-width: 1199px) {
    .container2 .card:nth-child(3) {
        margin-top: 35px;
    }
}

@media (max-width: 799px) {
    .container2 .card:nth-child(1) {
        margin-top: 35px;
    }
    .container2 .card:nth-child(2) {
        margin-top: 35px;
    }
}

@media (max-width: 960px) {
    .presentation {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 840px) {
    .presentation {
        display: flex;
        flex-direction: column;
    }
    .titleSection2 {
        margin: 0 auto;
        justify-content: center;
    }

    .textSection2 {
        margin: 12px auto;
        width: 60%;
        text-align: center;
    }
}
