* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

.hero {
    background-image: url(../img/background-integral-hero.png);
    background-size: cover;
    background-blend-mode: soft-light;
    padding: 200px 100px 100px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .leftSideHero {
    max-width: 700px;
    margin: 25px;
}

.hero .leftSideHero h2 {
    font-size: 3.5em;
    color: #fff;
}

.hero .leftSideHero p {
    font-size: 1.8em;
    color: #fff;
    margin: 25px 0;
}

.hero .leftSideHero a {
    display: inline-block;
    background: #fff;
    color: #f7d716;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 12px;
}

.typographyHero {
    font-weight: 600;
    width: 100%;
    font-size: 85px;
    letter-spacing: 2px;
    color: #f7d716;
}

.hero .svg_solar_system {
    max-width: 600px;
    margin-right: 25px;
}

@media (max-width: 1250px) {
    .hero {
        padding: 150px 20px 50px;
        flex-direction: column;
    }
    .hero .svg_solar_system {
        display: none;
    }

    .hero .leftSideHero h2 {
        justify-content: center;
        margin: 20px auto;
        text-align: center;
    }

    .hero .leftSideHero p {
        justify-content: center;
        margin: 20px auto;
        text-align: center;
    }

    .HeroButton {
        display: grid;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    .hero .leftSideHero {
        transform: translateY(82px);
        justify-content: center;
        margin: 0 auto;
    }

    .hero .leftSideHero a {
        display: grid;
        transform: translateY(25px);
        width: 50%;
        margin: 12px auto;
    }
}

@media (max-width: 800px) {
    header {
        padding: 10px 20px;
        flex-direction: column;
    }
}

.HeroButton {
    width: 35%;
    height: 50px;
    padding: 12px;
    font-weight: 600;
    font-size: 22px;
    border-radius: 12px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
}