header {
    align-items: center;
    background: #fff;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 15px 100px;
    position: absolute;
    width: 100%;
}

.cabecalho__container {
    align-items: center;
    display: flex;
    height: 130px;
    justify-content: space-around;
}

.cabecalho__logo {
    width: 9.725rem;
}

.cabecalho__contato {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.cabecalho__numero {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.8px;
    line-height: 30px;
}